
        #encabezado {
            position:fixed;
            margin:0 auto;
            background-image: url(banner.png) center top;
            margin:0;
            top: 0;
            height: 100px;
            width: 100px;
            text-align: center;
        
        }

        #texto {
            margin-top: 100px;
        
        }   
    
    
    